
.cnt223 a{
    text-decoration: none;
}
.popup{
    width: 100%;
    margin: 0 auto;
    display: none;
    position: fixed;
    z-index: 101;
}
.cnt223{
    min-width: 600px;
    width: 600px;
    min-height: 150px;
    margin: 100px auto;
    background: #5a7056;
    position: relative;
    z-index: 103;
    padding: 15px 35px;
    border-radius: 5px;
    box-shadow: 0 8px 25px #86c23262;
    
}
.cnt223 p{
    clear:  both;
        color: #ffffff;
        /* text-align: justify; */
        font-size: 20px;
        font-family: sans-serif;
}
.cnt223 p a{
    color: #61892F;
    font-weight: bold;
   
}
.cnt223 .x{
    
    float: right;
    height: 35px;
    left: 22px;
    position: relative;
    top: -25px;
    width: 34px;
}
.cnt223 .x:hover{
    cursor: pointer;
}