#particleEffectCanvas{
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(#222629, #1b1f22);
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}